<!doctype html>
<html>
  <head>
      <title>21 Savage Fan Site</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Anton|Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <div class="container">

      <div class="page-header text-center">
          <img src="https://fontmeme.com/permalink/181118/fab7df5cf43eebc0d7e7bd6391f49cba.png" alt="">
      </div>

  <div class="stats">
    <ul>
      <li>Location: <span id="location"><%= user.stats.location %></span></li>
      <li>Bday Month: <span id="month"><%= user.stats.month %></span></li>
      <li>Favorite Color: <span id="color"><%= user.stats.color %></span></li>
      <li>Personality: <span id="personality"><%= user.stats.personality %></span></li>
      <li>Activity 1: <span id="activity1"><%= user.stats.activity1 %></span></li>
      <li>Activity 2: <span id="activity2"><%= user.stats.activity2 %></span></li>
    </ul>
  </div>
  <h1>Your Team:</h1>
  <section class="containerTwo">
    <section class="top">
      <section class="poke1 pokemonDisplay"></section>
      <section class="poke2 pokemonDisplay"></section>
      <section class="poke3 pokemonDisplay"></section>
    </section>
    <section class="bottom">
      <section class="poke4 pokemonDisplay"></section>
      <section class="poke5 pokemonDisplay"></section>
      <section class="poke6 pokemonDisplay"></section>
    </section>
      <button id="save">Save</button>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </section>

    <script src="main.js"></script>
  </body>
</html>
